extends ../base.jade

block content
  h3 #{action} note
  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="title") Title
      input.form-control(type="text", name="title", id="title", value=note.title)
    .form-group
      label(for="url") Url
      input.form-control(type="text", name="url", id="url", value=note.url)
    .form-group
      label(for="description") Description
      textarea.form-control(type="text", name="description", id="description", rows="3", style="white-space: pre-wrap;") #{note.description}
    .form-group.hidden
      label(for="createdBy") Created by
      input.form-control(type="text", name="createdBy", id="createdBy", value=note.createdBy)
    .form-group.hidden
      label(for="createdById") Created by ID
      input.form-control(type="text", name="createdById", id="createdById", value=note.createdById)
    button.btn.btn-success(type="submit") Save
