extends ../base.jade

block content
  h3 Note
    small

  .btn-group
    a(href="/notes/#{note.id}/edit", class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  Edit note
    a(href="/notes/#{note.id}/delete", class='btn btn-danger btn-sm')
      i.glyphicon.glyphicon-trash
      span  Delete note

  .media
    .media-body

      h4= note.title
      div
        a(href=note.url target="_blank") #{note.url}
      div(style="margin-top:10px;")
        span(style="font-weight:bold;") description:
        div(style="white-space: pre-wrap;") #{note.description}
